.App {
  text-align: center;
}


.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #d6cfda;
  border-bottom: 1px solid #ddd;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Styles for the whole page */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* The background image for the form container */
.signin-container {
  height: 100vh;
  background-image: url('assets/images/game001.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Form content styling */
.form-content {
  background-color: rgba(36, 243, 226, 0.692); /* Semi-transparent background */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  max-width: 400px;
}

/* Header inside the form */
.form-content h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: #333;
}

/* Styling for input fields */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

.input-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

/* Submit button styling */
.submit-btn {
  width: 100%;
  padding: 10px;
  background-color: #007BFF;
  border: none;
  color: white;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}


/* Header.css */

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #f8f9fa;
  border-bottom: 1px solid #ddd;
}

.logo h1 {
  font-size: 100px;
  font-weight: bold;
  margin: 0;
}

.contact-info {
  text-align: left;
}

.contact-info p {
  margin: 0️⃣;
  font-size: 24px;
  color: #333;
}

.contact-info .contact-link {
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
}

.contact-info .contact-link:hover {
  text-decoration: underline;
  padding: right 45px;;
}

.signup-container {
  height: 100vh;
  background-image: url('assets/images/game002.webp'); /* Replace with your image URL */
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.styled-form {
  background-color: beige;
  padding: 40px;
  width: 100%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
}


body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}